.wrapper {
    padding: 10px;
    min-height: 100%;
    height: auto !important;
}

body {
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
    height: 100%;
}

html {
    height: 100%;
}

.navbar-theme,
.navbar-theme .dropdown-menu {
    border-radius: 0;
    background: rgba(0, 0, 0, 0.60);
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.70);
}


.navbar-theme a {
    color: #FFF !important;
}

.navbar-theme a:hover,
.navbar-theme a:focus,
.navbar-theme .dropdown-menu > li > a:hover,
.navbar-theme .dropdown-menu > li >a:focus {
    background: rgba(255, 255, 255, 0.95);
    color: #000 !important;
}

.navbar-theme a:hover,
.navbar-theme .nav > li > a:hover,
.navbar-theme .nav > li > a:focus,
.navbar-theme .nav > li > a.active  {
    background: transparent;
    color: #CCC;
}


/*
 * Panel Fixes
 ----------------/
 */

.panel {
    background: rgba(0, 0, 0, 0.30);
    color: #FFF;
}


/*
 * Modal Fixes
 */

 .modal-content{
    background: rgba(0, 0, 0, 0.30);
    color: #FFF;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.30);
 }

 .modal-footer,
 .modal-header {
    border: none;
 }

/*
 * Footer Fixes
 --------------/
 */


.footer {
    border-top: 1px solid #FFF;
    background: rgba(0, 0, 0, 0.30);
}

.footer .credits {
    font-size: 12px;
    text-align: center;
}

.footer .credits ul li {
    padding: 10px;
}

.footer .credits ul li a {
    color: #FFF;
    text-decoration: none;
}


/*
 * Login Fixes
 --------------/
 */

 .wrapper .login {
    margin-top: 100px;
 }